#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Wave Animation Styles */
.waves {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-bottom: -7px; /* Fix for safari gap */
  min-height: 120px;
  max-height: 180px;
}

.waves-bottom {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-top: -7px; /* Fix for safari gap */
  min-height: 120px;
  max-height: 180px;
}

.waves-second {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-top: -7px; /* Fix for safari gap */
  margin-bottom: -7px; /* Fix for safari gap */
  min-height: 120px;
  max-height: 180px;
  transform: rotate(180deg); /* Flip the wave */
}

.waves-invitation {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-top: -20px; /* Seamless connection with hero section */
  margin-bottom: -7px; /* Fix for safari gap */
  min-height: 120px;
  max-height: 180px;
  transform: rotate(180deg); /* Flip the wave to connect with hero section */
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/* Shrinking for mobile */
@media (max-width: 768px) {
  .waves, .waves-bottom, .waves-second, .waves-invitation {
    height: 80px;
    min-height: 80px;
  }
}
